.ps-algorithmic, .ps-algorithmic .ps-line, .ps-algorithm, .ps-root {
    line-height: 0
}
.ps-algorithm > .ps-line:nth-child(1) {
    margin-top: -0.9em;
}

.ps-algorithmic .ps-block {
    line-height: 0.4
}